<!doctype html>
<html class="no-js" lang="zxx">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Raunakh</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/raunakh.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/main.css?v=1.1">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link rel="stylesheet" href="assets/css/marquee.css">
        <link rel="stylesheet" href="assets/css/swiper.css">



    </head>
    <body>

      <%- include('includes/nav', {donators: donators}) %>
          <%- include('includes/header') %>
          <%- include('includes/about') %>

            
           

            <%- include('includes/quotes') %>
            <%- include('includes/testimonials') %>
            <%- include('includes/gallery') %>
            <%- include('includes/societies') %>
            <%- include('includes/contact') %>

        </main>

        <!-- footer-area-start -->
        <footer>
            <div class="footer-top-area pt-30 pb-15" style="background: #1f2529;">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 col-md-6 text-center">
                            <div class="float-md-left">
                                <h4 class="mb-30 mt-20 " style="color: rgba(255, 255, 255, 0.534);">Made with <i class="fas fa-heart" style="color: #d34848;"></i> by Team Prakriti </h4>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-6">
                            <div class="footer-icon mb-30 float-md-right">
                                <a href="https://www.facebook.com/msitprakriti/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/prakriti_msit/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="https://twitter.com/msitprakriti" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://in.linkedin.com/company/prakriti-msit/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-4 policy">
                            <a href="/privacypolicy"> Privacy Policy </a>
                        </div>
                        <div class="col-4 policy">
                            <a href="/tnc"> Terms and Conditions </a>
                        </div>
                        <div class="col-4 policy">
                            <a href="/refundpolicy"> Refund Policy </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </footer>
        <!-- footer-area-end -->



      
        
		<!-- JS here -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script> -->
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- <script src="assets/js/popper.min.js"></script> -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.meanmenu.min.js"></script>
        <!-- <script src="assets/js/ajax-form.js"></script> -->
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/jquery.scrollUp.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <!-- <script src="assets/js/imagesloaded.pkgd.min.js"></script> -->
        <!-- <script src="assets/js/jquery.knob.js"></script> -->
        <!-- <script src="assets/js/jquery.appear.js"></script> -->
        <!-- <script src="assets/js/jquery.magnific-popup.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="/javascripts/particles.js"></script>
        <!-- <script src="assets/js/plugins.js"></script> -->
        <script src="assets/js/main.js"></script>
        <script src="/javascripts/marquee.js"></script>
        <script src="/javascripts/timer.js"></script>
        <script src="assets/js/swiper.js"></script>
    </body>

</html>