<!doctype html>
<html class="no-js" lang="zxx">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Raunakh</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">


    </head>
    <body>

      <%- include('includes/nav') %>
          <%- include('includes/header') %>
          <%- include('includes/about') %>

            
           

            <%- include('includes/quotes') %>
            <%- include('includes/testimonials') %>
            <%- include('includes/gallery') %>
            <%- include('includes/societies') %>
            <%- include('includes/contact') %>

        </main>

        <!-- footer-area-start -->
        <footer>
            <div class="footer-top-area black-soft-bg pt-50 pb-20">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-2">
                            <div class="footer-logo mb-30">
                                <a href="index.html"><img src="assets/img/logo/logo-2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-6">
                            <div class="footer-icon mb-30">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-6">
                            <div class="footer-img mb-30">
                                <a href="#"><img src="assets/img/footer/01.png" alt=""></a>
                                <a href="#"><img src="assets/img/footer/02.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle-area pt-80 pb-25" style="background-image:url(assets/img/bg/bg-05.jpg)">
                <div class="container">
                    <div class="footer-bottom-area  ">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="copyright text-center">
                                    <p><i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a> All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->



		<!-- JS here -->
        <!-- <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script> -->
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- <script src="assets/js/popper.min.js"></script> -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.meanmenu.min.js"></script>
        <!-- <script src="assets/js/ajax-form.js"></script> -->
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/jquery.scrollUp.min.js"></script>
        <!-- <script src="assets/js/jquery.counterup.min.js"></script> -->
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <!-- <script src="assets/js/jquery.knob.js"></script> -->
        <!-- <script src="assets/js/jquery.appear.js"></script> -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- <script src="assets/js/plugins.js"></script> -->
        <script src="assets/js/main.js"></script>

    </body>

</html>